body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
.game-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.white-1e1d7 { background-color: #f0d9b5; }
.black-3c85d { background-color: #b58863; }
.piece-unicode {
    font-size: 38px;
    text-align: center;
    line-height: 45px;
    width: 100%;
    height: 100%;
    user-select: none;
}
div[id^="monEchiquier"] img { display: none !important; }
.piece-blanche {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.piece-noire {
    color: #000000;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}
.historique-panel {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}
.historique-panel h2 {
    margin-top: 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
#historiqueCoups {
    width: 200px;
    height: 400px;
    overflow-y: auto;
    font-family: monospace;
    font-size: 16px;
}
.move-pair { padding: 2px 5px; }
.active-move { 
    background-color: #cdd9e5;
    border-radius: 3px;
}
